body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
  background-color: #fafafa;
}
.inputRounded input::placeholder {
  color: #7b9497;
}
